.resource-content-container {
  min-height: 100vh;
  background: #f5f5f5;
  display: flex;
  justify-content: center;
}
.sub-resource-container {
  width: 80%;
  font-family: 'Roboto';
  font-style: normal;
}
.back-to-resources-container {
  display: flex;
  align-items: center;
  margin-top: 24px;
}
.back-icon {
  width: 12px;
  height: 14px;
  margin-right: 9px;
}
.back-to-resources {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #7e858e;
  margin: 0;
}

.resource-icon-heading-container {
  display: flex;
  align-items: center;
  margin: 32px 0 0 0;
}

.resource-icon-container {
  height: 64px;
  width: 64px;
  border: 2px solid #d7dfe9;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 16px 0 0;
  align-self: flex-start;
}
.resource-page-icon {
  width: 30px;
  height: 30px;
}

.resource-heading {
  font-weight: 400;
  font-size: 32px;
  line-height: 40px;
  color: #171f46;
  margin: 0;
}
.resource-page-id {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #7e858e;
  margin: 0;
}
.resource-page-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #0b69ff;
  text-decoration: none;
  margin: 0;
}

.resource-page-description {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #7e858e;
  margin: 8px 0 0 0;
}

.update-button {
  width: 95px;
  height: 40px;
  background: #0b69ff;
  border-radius: 4px;
  border-width: 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 40px 0 0 0;
  cursor: pointer;
}
.resource-search-sort-container {
  display: flex;
  align-items: center;
}
.items-heading {
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  color: #171f46;
}
.resource-search-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 24px 0 0 0;
}

.resource-search-input-container {
  border: 1px solid #d7dfe9;
  border-radius: 3px;
  background: #ffffff;
  width: 320px;
  height: 40px;
  display: flex;
  align-items: center;
  padding: 14px 18px 14px 18px;
  margin: 32px 21px 32px 0;
}
.resource-search-icon {
  height: 12px;
  width: 12px;
  margin-right: 16px;
}
.resource-search-input {
  border: none;
  flex-grow: 1;
  outline: none;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: black;
}
.sort-container {
  display: flex;
  align-items: center;
}
.sort-icon {
  width: 14px;
  height: 12px;
  margin: 0 9px 0 0;
}
.sort-heading {
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
  color: #171f46;
  margin: 0;
}
.resource-footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 24px;
}
.buttons-container {
  display: flex;
  align-items: center;
}
