.bottom-container {
  display: flex;
  justify-content: space-between;
  font-family: 'Roboto';
  font-style: normal;
  background: #f5f5f5;
}
.create-item-image {
  height: 100vh;
  width: 40%;
}
.back-to-users-container {
  display: flex;
  align-items: center;
  margin: 22px 0 0 44px;
  align-self: flex-start;
}
.bottom-left-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.back-arrow {
  width: 12px;
  height: 10px;
  margin-right: 9px;
}
.back-to-users {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #7e858e;
}
.form-container {
  width: 45%;
}
.form-heading {
  font-weight: 400;
  font-size: 32px;
  line-height: 40px;
  text-align: center;
  color: #171f46;
  margin-bottom: 32px;
}
.input-container {
  display: flex;
  flex-direction: column;
  margin: 0 0 32px 0;
}
.add-item-input-field {
  background: #ffffff;
  border: 1px solid #d7dfe9;
  border-radius: 2px;
  padding: 8px 16px 8px 16px;
  outline: none;
}
.label-text {
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: #7e858e;
  margin-bottom: 8px;
}
.description-field {
  background: #ffffff;
  border: 1px solid #d7dfe9;
  border-radius: 2px;
  padding: 8px 16px 8px 16px;
  margin: 0 0 32px 0;
  font-family: 'Roboto';
  outline: none;
  cursor: pointer;
}
.create-btn-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.create-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 20px;
  background: #0b69ff;
  border-radius: 4px;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
  border-width: 0;
  align-self: center;
  cursor: pointer;
}
.error-message {
  color: red;
  font-weight: 300;
  font-size: 14px;
  margin: 0;
}
.success-message {
  color: green;
  font-weight: 500;
  font-size: 18px;
  margin: 15px;
}
.success-container {
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .bottom-container {
    flex-direction: column;
  }
  .create-item-image {
    width: 100%;
    height: 50vh;
    order: 0;
  }
  .bottom-left-container {
    order: 1;
    padding-bottom: 36px;
  }
  .form-container {
    width: 60%;
  }
}
